#calendar {
    .plain-box {
        h2 {
            text-align: center;
        }
        .table {
            background: transparent;
            height: 100%;
            width: 100%;
            tr {
                td {
                    color: lighten($text, 60%);
                    border: none;
                    padding: 0.5em 0;
                    text-align: center;
                    vertical-align: middle;
                    span {
                        display: block;
                        font-family: 'Courier New', Courier, monospace;
                    }
                }
                td.is-chain {
                    color: $text;
                    span {
                        background: pink;
                    }
                }
                td.is-today {
                    color: white;
                    span {
                        background: $text;
                    }
                }
            }
        }
    }
}