<section class="section" id="calendar">
    <div class="plain-box"
        ng-repeat="(year, calendar_year) in app.calendar">
        <h2 class="title">{{ year }}</h2>
        <table class="table">
            <tbody>
                <tr
                    ng-repeat="(month, calendar_month) in calendar_year">
                    <td class="has-text-black">
                        <span>{{ app.fn.formatMonthName(month) }}</span>
                    </td>
                    <td class="is-size-7"
                        ng-class="{
                            'is-chain': day_details[0].chain,
                            'is-today': day_details[0].today,
                        }"
                        ng-repeat="(day, day_details) in calendar_month">
                        <span>{{ app.fn.formatDayName(day) }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>